@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yomogi";
}

body {
    background-image: radial-gradient(#a0f1b5 20%, transparent 20%), radial-gradient(#fafafa 20%, transparent 20%);
    background-color:  rgb(252, 229, 230);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    color: #fff;
}

/* green section */
.container{
    background-color: #a0f1b5;
    margin: 8rem 8rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); 
    padding: 50px;
    border: 1px solid white;
}

  .title{ 
    color: rgb(163, 62, 62);
    text-shadow: 2px 2px 2px white;;
    text-align: center;
    margin: 40px 40px;
    font-size: 75px;
  }

.instructions{
  color: rgb(163, 62, 62);
  text-shadow: 2px 2px 2px white;;
  text-align: center;
  margin: 40px 40px;
  font-size: 25px;
}

    .muffinButton{
      display: flex;
      width: 25%;
      height: auto;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-bottom: 35px;
      
    }
  
      .muffinButton:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
  
    .muffinButton:active{
        transform: scale(1.05);
    }

 #muff-count {
  color: rgb(163, 62, 62);
  text-shadow: 2px 2px 2px white;
  text-align: center;
  font-size: 30pt;
  padding-bottom: 30px;
}

 nav{
display: flex;
flex-direction: row;
background-color: rgb(252, 229, 230);
width: 100%;
position: relative;
border: 1px solid white;
} 

/* nav bar */
.collapsible {
    background-color: rgb(252, 229, 230);
    color: rgb(163, 62, 62);
    cursor: pointer;
    padding: 10px;
    width: 50%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .active, .collapsible:hover {
    border:1px solid white;
    transform: scale(1.1);
    cursor: pointer;
  }
  
  /* nav content */
  .content {
    color: rgb(163, 62, 62);
    font-size: large;
    font-weight: bold;
    padding: 15px;
    display: none;
    overflow: hidden;
    background-color:rgb(252, 229, 230);
    position: absolute;
    top: 100%;
    width: 97.8%;
  } 

.upgrades{
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.clicker-upgrade{
border: 1px solid white;
background-color: rgb(252, 229, 230);
 padding: 15px;
 padding-left: 30px;
 padding-right:40px; 
}

.multiplier-upgrade{
border: 1px solid white;
background-color: rgb(252, 229, 230);
 padding:15px;
}

.total-purchased{
    color: rgb(163, 62, 62);
    text-shadow: 2px 2px 2px white;
    text-align: center;
    font-size: 18pt;
    margin-bottom: 15px;
    margin-top: 5px;
  }

  .cost-for-upgrades{
    color: rgb(163, 62, 62);
    text-shadow: 2px 2px 2px white;
    text-align: center;
    font-size: 18pt;
    margin-bottom: 15px;
    margin-top: 5px;
  }

.price-total-title{
    color: rgb(163, 62, 62);
    text-shadow: 2px 2px 2px white;
    text-align: center;
    margin: 20px 40px;
    font-size: 30px;
}

.clickerButton:disabled{
  pointer-events: none;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

  .clickerButton{
    background-color: white;
    border: 1px solid #a0f1b5;
    color: rgb(163, 62, 62);
    font-weight: bold;
    font-size: x-large; 
    padding: 12px;
    margin: 40px 40px;
  }

  .clickerButton:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid #a0f1b5;
  }

  .multiplierButton:disabled{
    pointer-events: none;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  .multiplierButton{
    background-color: white;
    border: 1px solid #a0f1b5;
    color: rgb(163, 62, 62);
    font-weight: bold;
    font-size: x-large; 
    padding: 12px;
    margin: 40px 40px;
  }
  
  .multiplierButton:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid #a0f1b5;
  }

  #reset-button {
    display: flex;
    width: 5%;
    justify-content: center;
    align-items: center;
    margin: auto; 
    margin-top: 10px;
    padding: 12px;
    min-width: 30px;
    height: 40px;
    background-color: rgb(252, 229, 230);
    border: 1px solid white;
    color: rgb(163, 62, 62);
    font-weight: bold;
    font-size: 20px;
    width: 10%;
  }

  #reset-button:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid white;
  }


